@import './header.css';
@import './typography.css';
@import './footer.css';
body {
    padding: 0;
    margin: 0;
}


/*
* grid-container
*/

#grid-container {
    display: grid;
    grid-auto-rows: minmax(50px, auto);
    grid-template-columns: 1fr;
}

@media screen and (min-width: 800px) {

    #grid-container {
        grid-template-columns: 70% 30%;
        grid-template-areas: "top top" "content aside" "ft  ft";
    }

    #grid-container header {
        grid-area: top;
    }

    #grid-container #main {
        grid-area: content;
    }

    #grid-container aside {
        grid-area: aside;
    }
    
    #grid-container footer {
        grid-area: ft;
    }
}


/*
* main content
*/

#main {
    padding: 16px;
}

#main h1 {
    text-align: left;
    margin-bottom: 0;
}

#main .info-post {
    margin: 0;
}

#main .info-post a {
    font-size: 15px;
    color: #673AB7;
}

#main .cover {
    width: 100%;
}

#main figcaption {
    text-align: right;
}


/*
* Author info
*/

aside h2 {
    padding-top: 16px;
    color: #2BBBAD;
    text-transform: capitalize;
    margin-bottom: 0;
}

.author {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    padding: 16px;
    background: #ddd;
    margin: 5px;
}

.author .img-author {
    width: 100px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.author h3 {
    margin: 0;
}


/*
* social media
*/

.social-media {
    display: flex;
    padding: 10px;
    list-style: none;
    align-items: center;
    margin: 0;
}

.social-media li {
    margin: 0 10px;
}